on:
  push:
    branches:
    - main
    pull_request:
    - main
  workflow_dispatch:

name: Run tests

jobs:
  run-tests:
    runs-on: ubuntu-latest

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install R packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache: true
          needs: check
          install-pandoc: false # No Rmd

      - name: Run tests
        run: |
          source("tests/test-dwc_mapping.R")
        shell: Rscript {0}
